* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: black;
}

.post {
    background: white;
    margin: auto;
    width: 300px;
}

.div-img {
    float: top;
}

.titulo {
    margin: 1px;
}

.div-arriba {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.fa-html5 {
    font-size: 30px;
}

.fa-ellipsis-v {
    font-size: 25px;
}

.div-der {
    width: 70%;
}

.tres-puntos {
    float: right;
}

.fa-bookmark {
    float: right;
}

.div-abajo {
    padding: 5px;
}

.div-centro {
    font-size: 12px;


    /* body{
        font-family: 'Roboto', sans-serif;
        background: black;
    }
container{
        display:inline-block;
        background: white;
        margin-right: 100px;
        margin-left: 350px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: none;
        width: 100%;
        margin-top: 50px;
    }
    .logo{
        float: left;
        font-size: 10px;
    }
    .texarr{
        margin-left: 30px;
        height: 50px;
        font-size: 13px;
    } */
    /* .tresp{
        float: right;
    }
    
    .ancho{
        width: 590px;
    }
    .texto{
        text-align: center;
        width: 590px;
    }
    .derecha{
        float: right;
    }  */
    */