body{
    font-family: 'Roboto', sans-serif;
    background: black;
}
#container{
    display:inline-block;
    background: white;
    margin-right: 100px;
    margin-left: 350px;
    margin-top: 50px;
}
.logo{
    float: left;
    font-size: 10px;
}
.texarr{
    margin-left: 30px;
    height: 50px;
    font-size: 13px;
}
.tresp{
    float: right;
}

.ancho{
    width: 590px;
}
.texto{
    text-align: center;
    width: 590px;
}
.derecha{
    float: right;
}